/*------ Icons List ------*/

.browser {
	width: 1.25rem;
	height: 1.25rem;
	display: inline-block;
	background: no-repeat center/100% 100%;
	vertical-align: bottom;
	font-style: normal;
}
.browser-android-browser {
	background-image: url("http://127.0.0.1:8000/build/assets/images/browsers/android-browser.svg");
}
.browser-aol-explorer {
	background-image: url("http://127.0.0.1:8000/build/assets/images/browsers/aol-explorer.svg");
}
.browser-blackberry {
	background-image: url("http://127.0.0.1:8000/build/assets/images/browsers/blackberry.svg");
}
.browser-camino {
	background-image: url("http://127.0.0.1:8000/build/assets/images/browsers/camino.svg");
}
.browser-chrome {
	background-image: url("http://127.0.0.1:8000/build/assets/images/browsers/chrome.svg");
}
.browser-chromium {
	background-image: url("http://127.0.0.1:8000/build/assets/images/browsers/chromium.svg");
}
.browser-dolphin {
	background-image: url("http://127.0.0.1:8000/build/assets/images/browsers/dolphin.svg");
}
.browser-edge {
	background-image: url("http://127.0.0.1:8000/build/assets/images/browsers/edge.svg");
}
.browser-firefox {
	background-image: url("http://127.0.0.1:8000/build/assets/images/browsers/firefox.svg");
}
.browser-ie {
	background-image: url("http://127.0.0.1:8000/build/assets/images/browsers/ie.svg");
}
.browser-maxthon {
	background-image: url("http://127.0.0.1:8000/build/assets/images/browsers/maxthon.svg");
}
.browser-mozilla {
	background-image: url("http://127.0.0.1:8000/build/assets/images/browsers/mozilla.svg");
}
.browser-netscape {
	background-image: url("http://127.0.0.1:8000/build/assets/images/browsers/netscape.svg");
}
.browser-opera {
	background-image: url("http://127.0.0.1:8000/build/assets/images/browsers/opera.svg");
}
.browser-safari {
	background-image: url("http://127.0.0.1:8000/build/assets/images/browsers/safari.svg");
}
.browser-sleipnir {
	background-image: url("http://127.0.0.1:8000/build/assets/images/browsers/sleipnir.svg");
}
.browser-uc-browser {
	background-image: url("http://127.0.0.1:8000/build/assets/images/browsers/uc-browser.svg");
}
.browser-vivaldi {
	background-image: url("http://127.0.0.1:8000/build/assets/images/browsers/vivaldi.svg");
}